# Compiled class file
*.class

# Log file
*.log

# Env file
.env

# Ignore files in a specific directory
**/.idea
.classpath
.project
.settings/
target/

# Ignore specific files
mgp-mdemo1-frontend-tests.iml

# Ignore files with a specific extension
*.tmp
*.html
